$nav-inactive: #8A8A8A;
$input-bg:#F7F8FA;
$accent-grey: #EDEEF0;
$hover-darken:#c7c7c7;
$font-grey:#5C5C5C;
$line-color:#E0E0E0;
$dark-line-color:#d9d9db;
$font-dark:#2E2E2E;
$header-light-green:#EFFFF4;
$header-green-font:#008A45;
$bootstrap-blue: #2F6CE5;



/*mention font-size as variables and reduce font-size by  a particular percentage using media quesy*/

@mixin removestyles {
    outline: none;
    background: none;
    border: none;

    &:link {
        text-decoration: none;

    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    /* background-color: khaki; 
    height: 200vh;*/
}

.nav-section {
    background-color: #FFFFFF;
    height: 72px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url("./Images/logo.jpg");
    width: 162.57px;
    height: 24px;
}

.search {
    @include removestyles();
    font-family: 'IBM Plex Sans', sans-serif, 'Font Awesome 5 Free';
    color: $font-grey;
    font-weight: 600;
    background-color: #F2F2F2;
    width: 360px;
    height: 42px;
    border-radius: 21px;
    padding: 15px;

}

.create-account-group {
    font-size: 16px;
    color: $font-dark;
}

.content {
    padding: 0;
}

.section-1 {

    /* background: url("./Images/background-1.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    padding: 0 0 5.5% 14%;*/
    /* height:440px; */
    img {
        height: auto;
    }

    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow:2px 2px 30px $font-dark;

    .h1 {
        line-height: 30px;

    }

    .sub-heading{
        @include font-size(4rem);
    }

    .text-content {
        position: absolute;
        margin: 0 0 5.5% 14%;
    }


}

.section-2 {

    .container-fluid {
        width: 72%;
        margin-top: 26px;
    }

    .row {
        /* margin: 46px auto; */
        margin: auto;
        /* border: 3px solid rgb(75, 25, 25); */
        height: 100%;
    }

    [class^="col"] {
        /* border: 2px solid yellow; */
        padding: 0;
        margin: 0;
    }


    .navigation {

        border-bottom: 1px solid $line-color;

        .article,
        .event,
        .edu,
        .job {
            @include removestyles();
            color: $nav-inactive;
            height: 100%;
            margin-right: 20px;
        }

        .side-nav {
            display: flex;
            justify-content: flex-end;
        }

        .btn {
            height: 36px;
            margin-bottom: 8px;

        }

        .btn-light {
            background-color: $accent-grey;
            transition: background-color 400ms ease;

            &:hover {
                background-color: $hover-darken;
            }
        }

        .join-btn {
            margin-left: 16px;
            display: flex;
            align-items: center;
            i{
                margin-right: 8px;
            }
        }

        .allposts {
            @include removestyles();
            height: 100%;
            color: #000;
            border-bottom: 2px solid #000;
            margin-right: 20px;
        }
    }

    .posts {
        /* border: 2px solid slateblue; */
        margin-top: 28px;

    }

    .post-1,
    .post-2,
    .post-3,
    .post-4 {
        /* height: 472px; */
        border: 1px solid $line-color;
        margin-bottom: 16px;
        border-radius: 4px;

        .post-img {
            width: 100%;
        }

        .post-content {
            padding: 20px;
        }

        .post-heading {
            font-weight: 600;
            font-size: 22px;
            display: flex;

            .heading-text {
                width: 85%;
                margin-top: 12px;
            }

            .edit {
                width: 15%;
                display: flex;
                justify-content: flex-end;
                height: fit-content;

                button {
                    @include removestyles();
                    width: 36px;
                    height: 32px;
                    border-radius: 4px;
                    background-color: transparent;
                    transition: background-color 400ms ease;

                    &:hover {
                        background-color: $hover-darken;
                    }
                }
            }

            .post-main-content {
                margin-top: 10px;
                color: $font-grey;
            }
        }

        .meeting-details {
            display: flex;
            width: 55%;
            justify-content: space-between;
            margin-top: 8px;
        }

        .job-details {
            display: flex;
            width: 65%;
            justify-content: space-between;
            margin-top: 8px;
        }

        .visit-btn,
        .apply-btn {
            width: 100%;
            margin-top: 16px;
        }

        .profile-details {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
        }

        .user-details {
            display: flex;
            font-size: 18px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0em;

            .username {
                margin: auto 10px;
            }

        }

        .post-details {
            display: flex;
            justify-content: space-between;
            width: 30%;
            align-items: center;
        }

        /* .views{
           justify-content: center;
           display: flex;
           align-items: center; 
        } */
        .share-btn {
            @include removestyles();
            width: 42px;
            height: 36px;
            border-radius: 4px;
            background-color: #EDEEF0;
            transition: background-color 400ms ease;

            &:hover {
                background-color: $hover-darken;
            }
        }

        @for $i from 1 through 4 {
            .profile-pic-#{$i} {
                height: 48px;
                width: 48px;
                border-radius: 50%;
            }
        }

        .profile-pic-1 {
            background-image: url("./Images/dp-1.jpg");
        }

        .profile-pic-2 {
            background-image: url("./Images/dp-2.jpg");
        }

        .profile-pic-3 {
            background-image: url("./Images/dp-3.jpg");
        }

        .profile-pic-4 {
            background-image: url("./Images/dp-4.jpg");
        }
    }

    .sidebar {
        /* border: 2px solid slateblue; */
        display: flex;
        color: $font-dark;

        .sidebar-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .location-inp {
            width: 80%;
            border-bottom: 2px solid $line-color;
            padding-bottom: 11px;
            height: 36px;
            display: flex;
            justify-content: space-between;
            margin: 0;
            margin-top: 30px;

            button,
            input {
                @include removestyles();
                color: $font-dark;
            }

            input {
                width: 80%;
            }

            button {
                width: 5.5%;
            }
        }

        .disclaimer {
            font-size: 12px;
            line-height: 15px;
            margin-top: 32px;
            width: 80%;
            opacity: 0.5;
            display: flex;

            i {
                margin-top: 2px;
                margin-right: 8px;
                font-size: 15px;
            }
        }
    }

}

.floating-section {

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .floating-signup {
        /* height: 70%;
        width: 51%; 
        border: 2px solid slateblue;*/
        border-radius: 8px;
        height: 513px;
        width: 736px;
        /* left: 352px;
        top: 186px; */
        border-radius: 8px;

    }

    .signup-header {
        height: 10%;
        background-color: $header-light-green;
        border-radius: 8px 8px 0 0;
        color: $header-green-font;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        text-align: center;

        .cross {
            /* @include removestyles(); */
            /* position: absolute;
             top: 11.33%;
            right: 22.63%; */
            /* top:55px;
            right: 300px;
            */
            /* color: $font-dark;
            background-color: #FFFFFF;  */
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 23px;
            width: 23px;
        }

    }


    .signup-main {
        height: 90%;
        background-color: #FFFFFF;
        border-radius: 0 0 8px 8px;
        padding: 24px 36px;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                font-size: 24px;
                font-weight: 700;

            }

            .right {
                font-size: 13px;
            }
        }

        .signin-btn {
            @include removestyles();
            color: $bootstrap-blue;
            box-shadow: 0 0 0 0 $bootstrap-blue;
            transition: box-shadow 200ms ease;

            &:hover {
                box-shadow: 0 2px 0 0 $bootstrap-blue;
            }
        }

        .signup-main-content {
            height: 85%;
            display: flex;
            margin-top: 15px;

            .right {
                height: 100%;
                width: 50%;
                margin-left: 8px;

                img {
                    margin: 4% 0 15% 8%;
                }

                .tnc {
                    font-size: 11px;
                    opacity: 0.6;
                    letter-spacing: 0.8;
                }


            }

            .left {
                display: flex;
                flex-direction: column;
                width: 50%;

                .name {
                    display: flex;
                    width: 100%;

                    .fname,
                    .lname {
                        width: 50%;
                    }
                }

                .pwd {
                    width: 100%;
                    display: flex;

                    input {
                        width: 100%;
                    }
                }


                input {
                    @include removestyles();
                    max-height: 45px;
                    border: 1px solid $dark-line-color;
                    background-color: $input-bg;
                    padding: 12px;
                    border-radius: 2px;

                    &:hover,
                    &:focus {
                        background-color: $accent-grey;
                    }
                }

                .create-acc-btn {
                    max-height: 40px;
                    border-radius: 20px;
                    margin-top: 20px;
                }

                .fbsu,
                .googlesu {
                    @include removestyles();
                    height: 38px;
                    border: 1px solid $dark-line-color;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    transition: background-color 300ms ease-in;

                    img {
                        margin-right: 10px;
                    }

                    &:hover {
                        background-color: $accent-grey;
                    }
                }

                .fbsu {
                    margin-top: 20px;
                    margin-bottom: 8px;
                }

            }
        }
    }

    /*change here*/
    display: none;

    

}

.floating-section-login {

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .floating-signup {
        border-radius: 8px;
        left: 352px;
        top: 186px;
        border-radius: 8px;
        height: 513px;
        width: 736px;

    }



    .signup-header {
        height: 10%;
        background-color: $header-light-green;
        border-radius: 8px 8px 0 0;
        color: $header-green-font;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        text-align: center;

        .cross-login {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 23px;
            width: 23px;
        }

    }

    .signup-main {
        height: 90%;
        background-color: #FFFFFF;
        border-radius: 0 0 8px 8px;
        padding: 24px 36px;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                font-size: 24px;
                font-weight: 700;

            }

            .right {
                font-size: 13px;
            }
        }

        .signup-btn {
            @include removestyles();
            color: $bootstrap-blue;
            box-shadow: 0 0 0 0 $bootstrap-blue;
            transition: box-shadow 200ms ease;

            &:hover {
                box-shadow: 0 2px 0 0 $bootstrap-blue;
            }
        }

        .signup-main-content {
            height: 85%;
            display: flex;
            margin-top: 32px;

            .right {
                height: 100%;
                width: 50%;
                margin-left: 8px;

                img {
                    margin: 4% 0 15% 8%;
                }



            }

            .left {
                display: flex;
                flex-direction: column;
                width: 50%;

                .pwd {
                    width: 100%;
                    display: flex;

                    input {
                        width: 100%;
                    }

                }

                .forgotpwd{
                    font-size: 12px;
                    text-align: center;
                    margin-top: 23px;
                }

                input {
                    @include removestyles();
                    max-height: 45px;
                    border: 1px solid $dark-line-color;
                    background-color: $input-bg;
                    padding: 12px;
                    border-radius: 2px;

                    &:hover,
                    &:focus {
                        background-color: $accent-grey;
                    }

                }

                .create-acc-btn {
                    max-height: 40px;
                    border-radius: 20px;
                    margin-top: 20px;
                }

                .fbsu,
                .googlesu {
                    @include removestyles();
                    height: 38px;
                    border: 1px solid $dark-line-color;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    transition: background-color 300ms ease-in;

                    img {
                        margin-right: 10px;
                    }

                    &:hover {
                        background-color: $accent-grey;
                    }
                }

                .fbsu {
                    margin-top: 20px;
                    margin-bottom: 8px;
                }

            }
        }
    }

    /*change here*/
    display: none;

}


@media (max-width:991.98px) {
    .nav-section {
        display: none;
    }


    .section-1{

        .sub-heading{
            font-size: 12px;
        }
    }

    .section-2 {
        .container-fluid {
            width: 100%;
        }
    }

    .navigation {
        display: none;
    }

    .sidebar,
    .section-2 .sidebar .sidebar-content {
        display: none;
    }
}